html {
    font-family: 'Montserrat', sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    font-size: 15px;

    &:before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-image: url("/bg.svg");
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: cover;
    }
}